

.table {
    table-layout: fixed;
    /*width: 100%;*/
    border-collapse: collapse;
}
.thead th:nth-child(1) {
    width: 20%;
}
  
.thead th:nth-child(2) {
    width: 30%;
}
  
.thead th:nth-child(3) {
    width: 10%;
}
  
.thead th:nth-child(4) {
    width: 10%;
}


.table th,
.table td {
  padding: 16px;
}

.thead tr{
    border: 2px solid grey;
}
.table tbody{
    border: 2px solid grey;
}
